fastapi
uvicorn
pydantic
google-play-scraper
pandas
emoji
langdetect
scikit-learn
hdbscan
umap-learn
sentence-transformers
groq
python-dotenv
requests
mcp
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
